<div class="headerdiv">
    <nav>
        <a href="/">
            <img src="assets/img/mealtime_logo.png" class="mealtimeLogo">
        </a>
    </nav>
    <div class="navigationDiv" ng-show="isLoggedIn">
        <a class="navigationButton" href="/#/login" >Login</a>
        <a class="navigationButton" href="/#/register" >Register</a>
    </div>

    <div class="navigationDiv" ng-show="!isLoggedIn">
        <a class="navigationButton" href="/#/profile/" >Profile</a>
        <a class="navigationButton" href="/" >Logout</a>
    </div>

    <div class="borderline"></div>
</div>