<div class="pagepa<rent">
    <div>
        <div ng_controller="OrderMealController as app">

            <form>
                <div class="row">

                    <!-- left part of the Page with image-upload -->
                    <div class="col-sm-5">
                    </div>

                    <!-- centerpart/formpart of the page -->
                    <div class="col-sm-5">

                        <label class="topicLabel marginfix">Your message to {{app.meal.chefId}}</label>

                        <div class="row row-margin">

                            <label for="titleInput" class="col-xs-4">Message Title</label>
                            <input class="col-xs-8" type="text" maxlength="30" ng-model="app.title" id="titleInput"
                                   required/>
                        </div>

                        <div class="row" style="margin-top: 1%; height: auto">
                            <label for="messageInput" class="col-xs-4">Your message:</label>
                            <textarea ng-model="app.message" class="col-xs-8" id="messageInput" rows="5"/>
                        </div>

                        <div class="row row-margin">
                            <label for="countInput" class="col-xs-4">Ammount:</label>
                            <input type="number" ng-model="app.count" id="countInput" class="col-xs-2"/>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="buttonContainer">
                                    <a href="/" class="orderLink">
                                        <button class="col-xs-4 btn-success y_n greenButton"
                                                value={{offering.takeAway}} ng-click="app.sendOrder(app.title, app.message, app.amount, false)">
                                            Take Away!
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="buttonContainer">
                                    <a href="/" class="orderLink">
                                        <button class="col-xs-4 btn-success y_n greenButton"
                                                value="{{offering.onSite}}" ng-click="app.sendOrder(app.title, app.message, app.amount, true)">
                                            Eat here!
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                </nav>
                <div class="col-sm-2"></div>
            </form>

        </div>
    </div>
</div>


<style>
    form {
        width: 100%;
    }

    div .row {
        height: 30px;
        width: 100%;
    }

    .row {
        margin-top: 5%;
    }

    input {
        height: 100%;
        width: 100%;
    }

    .pageparent {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-bottom: 12%;
    }

    .marginfix {
        padding-top: 5%;
    }

</style>


