<div class="pageparent">
    <div>
        <div ng_controller="CreateOfferingController as app">

            <form>
                 <div class="row">

                        <!-- left part of the Page with image-upload -->
                        <div class="col-sm-4">
                        </div>

                        <!-- centerpart/formpart of the page -->
                        <div class="col-sm-6">
                            Hello World ULULULULULULULLIUUUUU
                        </div>
                    </div>
                </nav>
                <div class="col-sm-2"></div>
            </form>

        </div>
    </div>
</div>


<style>
    form {
        width: 100%;
    }

    div .row {
        height: 30px;
        width: 100%;
    }

    div label {
        color: white;
    }

    input {
        height: 100%;
        width: 100%;
    }

    .pageparent {
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-bottom: 12%;
    }

</style>


