<div ng_controller="loginController">

    <form name="loginForm" style="width: 100%";>
        <nav style="padding-top: 2%" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6">
                    <label style="font-size: x-large">Login:</label>
                    <div class="row" style="margin-top: 1%">
                        <label for="emailInput" class="col-xs-4">Email:</label>
                        <input class="col-xs-8" type="email" maxlength="30" ng-model="registerController.email" id="emailInput" required/>
                    </div>
                    <div class="row" style="margin-top: 1%">
                        <label for="passwordInput" class="col-xs-4">Password:</label>
                        <input class="col-xs-8" type="text" maxlength="30" ng-model="registerController.password" id="passwordInput" required/>
                    </div>


                    <div class="row" style="margin-top: 5%">
                        <div class="col-xs-1"></div>
                        <a href="/#/profile" style="width: 100%; height: 100%">
                            <button style=" background-color: #408040;
                border-color: #499349; font-size: larger" class="col-xs-4 btn-success" ng-click="loginController.login(loginController.email, loginController.password)">
                                Login
                            </button>
                        </a>
                        <div class="col-xs-2"></div>
                        <a href="/" style="width: 100%; height: 100%">

                            <button class="col-xs-4 btn-danger" style=" background-color: #804040;
                border-color: #934949; font-size: larger" class="col-xs-4 btn-success">
                                Cancel
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="col-sm-2"></div>
    </form>

</div>


<style>

    div .row {
        height: 30px;
        width: 100%;
    }

    div label {
        color: white;
    }

    input {
        height: 100%;
        width: 100%;
    }

    .pictureuploadfieldcontainer {
        margin-top: 20%;
        margin-left: 20%;
        width: 180px;
        height: 180px;
        border-radius: 20px;
        border-style: dashed;
        border-color: white;
        background-color: rgba(255, 255, 255, 0.5);

    }

    .pictureuploadfield {
        text-align: center;
        vertical-align: middle;
        font-size: x-large;
        color: white;

    }

    body {
        background: url('/../../../assets/img/freshfood.jpg');
        background-repeat: no-repeat;
    }
</style>
</div>