<div ng_controller="editProfileController as editCon">

    <div class="headerdiv">
        <nav>
            <a href="/">
                <img src="assets/img/mealtime_logo.png" class="mealtimeLogo">
            </a>
        </nav>
        <div class="navigationDiv" ng-show="checkIfLoggedIn()">
            <a class="navigationButton" href="/#/login">Login</a>
            <a class="navigationButton" href="/#/register">Register</a>
        </div>

        <div class="navigationDiv" ng-show="!checkIfLoggedIn()">
            <a class="navigationButton" href="/#/profile">Profile</a>
            <a class="navigationButton" href="/">Logout</a>
        </div>

        <div class="borderline"></div>
    </div>

    <div id="pagecontainer" class="row">
        <div id="topline">
            <div id="toplinetext">Edit your Profile</div>
        </div>

        <!-- left part of the Page with image-upload -->
        <div class="col-sm-4">
            <div class="pictureuploadfield">
            </div>

            <!-- <a href="#/profile/{{editCon._id}}"> -->
            <button class="btn-success orderButton" ng-click="editCon.edit(editCon.newprename,
                editCon.newlastname, editCon.newemail, editCon.newaddress, editCon.newdescription, editCon.newpassword)">
                Save Changes
            </button>
            <br>
            <!-- </a> -->

        </div>

        <!-- centerpart/formpart of the page -->
        <div class="col-sm-6 form-background">
            <div class="oleo-green" id="prenameField">{{editCon.oldprename}}'s Profile</div>

            <div class="row factcontainer">
                <div class="verticalLine">
                    <div class="col-sm-4 oleo-green mediumText smallMargin"><label for="newprenameInput">New Prename:
                        (optional)</label></div>
                    <div class="col-sm-8 oleo-green mediumText smallMargin">
                        <input class="col-xs-8" type="text" maxlength="30" ng-model="editCon.newprename"
                               id="newprenameInput" placeholder="{{editCon.oldprename}}"/>
                    </div>
                </div>
            </div>

            <div class="row factcontainer">
                <div class="verticalLine">
                    <div class="col-sm-4 oleo-green mediumText smallMargin"><label for="newlastnameInput">New Lastname:
                        (optional)</label></div>
                    <div class="col-sm-8 oleo-green mediumText smallMargin">
                        <input class="col-xs-8" type="text" maxlength="30" ng-model="editCon.newlastname"
                               id="newlastnameInput" placeholder="{{editCon.oldlastname}}"/>
                    </div>
                </div>
            </div>

            <div class="row factcontainer">
                <div class="verticalLine">
                    <div class="col-sm-4 oleo-green mediumText smallMargin"><label for="newemailInput">New Email:
                        (optional)</label></div>
                    <div class="col-sm-8 oleo-green mediumText smallMargin">
                        <input class="col-xs-8" type="email" maxlength="30" ng-model="editCon.newemail"
                               id="newemailInput" placeholder="{{editCon.oldemail}}"/>
                    </div>
                </div>
            </div>

            <div class="row factcontainer">
                <div class="verticalLine">
                    <div class="col-sm-4 oleo-green mediumText smallMargin"><label for="newaddressInput">New Address:
                        (optional)</label></div>
                    <div class="col-sm-8 oleo-green mediumText smallMargin">
                        <input class="col-xs-8" type="text" maxlength="30" ng-model="editCon.newaddress"
                               id="newaddressInput" placeholder="{{editCon.oldaddress}}"/>
                    </div>
                </div>
            </div>

            <div class="row factcontainer">
                <div class="verticalLine">
                    <div class="col-sm-4 oleo-green mediumText smallMargin"><label for="newdescriptionInput">New
                        Description: (optional)</label></div>
                    <div class="col-sm-8 oleo-green mediumText smallMargin">
                        <textarea class="col-xs-8" type="text" maxlength="30" ng-model="editCon.newdescription"
                                  id="newdescriptionInput" placeholder="{{editCon.olddescription}}" rows="5"/>
                    </div>
                </div>
            </div>

            <div class="row factcontainer">
                <div class="verticalLine">
                    <div class="col-sm-4 oleo-green mediumText smallMargin"><label for="newpasswordInput">New Password:
                        (optional)</label></div>
                    <div class="col-sm-8 oleo-green mediumText smallMargin">
                        <input class="col-xs-8" type="password" maxlength="30" ng-model="editCon.newpassword"
                               id="newpasswordInput"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    #pagecontainer {
        position: relative;
        background-color: #ececec;
        padding-bottom: 20%;
    }

    #topline {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: rgba(13, 13, 13, 0.75);
    }

    .pictureuploadfield {
        margin-left: 20%;
        margin-top: 150px;
        margin-bottom: 50px;
        text-align: center;
        vertical-align: middle;
        width: 240px;
        height: 240px;
        font-size: x-large;
        color: white;
        background: url('/../../../assets/img/freshfood.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 20px;
    }

    #toplinetext {
        margin-left: 8%;
        color: white;
        font-size: 30px;
        line-height: 65px;
        font-family: 'Oleo Script',
        Helvetica, sans-serif;
    }

    .oleo {
        font-family: 'Oleo Script',
        Helvetica, sans-serif;
        color: #408040;
    }

    #nameField {
        margin-top: 150px;
        font-size: 36px;

    }

    #chefField {
        margin-top: 1%;
        font-size: 20px;
        color: black;
    }

    .mediumText {
        color: black;
        font-size: 20px;
    }

    .factcontainer {
        margin-top: 3%;
        min-height: 80px;
    }

    .verticalLine {
        margin-bottom: 2%;
        width: 100%;
        height: 1px;
        background: rgba(64, 128, 64, 0.75);
    }

    .smallMargin {
        margin-top: 2%;
    }

    #locationField {
        margin-bottom: 3%;
    }

    #googleMap {
        width: 100%;
        height: 250px;
    }

    .nutritionIcon {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    .orderButton {
        margin-top: 2%;
        width: 240px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        background-color: #408040;
        margin-left: 20%;
        border-color: #499349;
        font-size: larger;
    }

</style>