body {
    overflow-x: hidden;
}

.headerdiv {
    background: #ececec;
}

.navigationButton{
    color: #376e37;
    font-size: large;
}

.borderline{
    width:100%;
    height:10px;
    background:#408040;
}

.mealtimeLogo{
    width: 5%;
    height: 5%;
    margin-top:1%;
    margin-left: 3%;
    padding-bottom:1%;
}

.navigationDiv{
    position:absolute;
    top:3%;
    right: 3%;
}

.greenButton{
    width:100%;
    height:45px;
    color: #fff;
    background-color: #408040;
    border-color: #499349;
    font-size: larger;
}

.row-margin {
    margin-top: 1%;
}

.topicLabel {
    font-size: x-large;
}

.mealtime-green{
    color: #408040;
}

.nutritionIcon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

button:disabled {
    color: #fff;
    opacity: 0.75;
}