<link rel="stylesheet" href="app/components/show-offerings/show-offerings-styles.css">

<div ng_controller="ShowOfferingsController as resCon">

    <toast></toast>


    <div ng-include src="'app/components/header/header.html'"></div>

    <div id="backgrounddiv">

        <div class="filterheader">

            <div class="form-group locationlabel">Angebote in 80333 München
            </div>

            <div class="form-group filterdropdowncontainer">
                <select class="form-control filterdropdown" id="filters">
                    <option value="Preis">Preis</option>
                    <option value="Entfernung">Entfernung</option>
                    <option value="Uhrzeit">Uhrzeit</option>
                    <option value="Bewertung">Bewertung</option>
                </select>
            </div>
        </div>

        <ul>
            <li ng-repeat="offering in resCon.offerings">
                <a href="#/meal/{{offering._id}}">
                    <div id="offeringContainer">

                        <img src="/assets/img/food-715542_1920.jpg" id="offeringImage"
                        />

                        <div id="leftOfferingContainer">
                        <span id="namelabel">{{offering.name}}
                        </span>
                            <div id="pricelabel">{{offering.price}} €</div>
                        </div>

                        <div id="middleOfferingContainer">
                            <div id="cheflabel">by {{offering.chef}}
                            </div>
                        </div>
                        <div id="rightOfferingContainer">

                            <div class="col-sm-12 marginLeft">
                                <img class="nutritionIcon" title="vegetarian" id="vegetarianIcon"
                                     src="../../../assets/img/vegetarian.png" ng-show="offering.vegetarian">
                                <img class="nutritionIcon" title="vegan" id="veganIcon" src="../../../assets/img/vegan.png"
                                     ng-show="offering.vegan">
                                <img class="nutritionIcon" title="gluten-free" id="glutenfreeIcon"
                                     src="../../../assets/img/glutenfree.png"
                                     ng-show="offering.glutenfree">
                                <img class="nutritionIcon" title="lactose-free" id="lactosefreeIcon"
                                     src="../../../assets/img/lactosefree.png" ng-show="offering.lactosefree">
                            </div>

                            <!--<div id="buttonContainer">
                                <a href="/" class="orderLink">
                                    <button class="col-xs-4 btn-success y_n orderButton"
                                            value={{offering.takeAway}}>
                                        Take Away!
                                    </button>
                                </a>
                            </div>

                            <div id="eatHereButtonContainer">
                                <a href="/" class="orderLink">
                                    <button class="col-xs-4 btn-success y_n orderButton"
                                            value="{{offering.onSite}}">
                                        Eat here!
                                    </button>
                                </a>
                            </div> -->

                        </div>

                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>

