<div ng_controller="ShowOfferingsController as resCon">

    <div style="background: white; height:100%">

        <div class="filterheader">

            <div class="form-group locationlabel">Angebote in 80333 München
            </div>

            <div class="form-group filterdropdowncontainer">
                <select class="form-control filterdropdown" id="filters">
                    <option value="Preis">Preis</option>
                    <option value="Entfernung">Entfernung</option>
                    <option value="Uhrzeit">Uhrzeit</option>
                    <option value="Bewertung">Bewertung</option>
                </select>
            </div>
        </div>

        <ul>
            <li ng-repeat="offering in resCon.offerings">
                <a href="#/meal/{{offering._id}}">
                    <div id="offeringContainer">

                        <img src="/assets/img/food-715542_1920.jpg" id="offeringImage"
                        />

                        <div id="leftOfferingContainer">
                        <span id="namelabel">{{offering.name}}
                        </span>
                            <div id="pricelabel">{{offering.price}} €</div>
                        </div>

                        <div id="middleOfferingContainer">
                            <div id="cheflabel">by {{offering.chef}}
                            </div>
                        </div>
                        <div id="rightOfferingContainer">

                            <div class="col-sm-12 marginLeft">
                                <img class="nutritionIcon" title="vegetarian" id="vegetarianIcon"
                                     src="../../../assets/img/vegetarian.png" ng-show="offering.vegetarian">
                                <img class="nutritionIcon" title="vegan" id="veganIcon" src="../../../assets/img/vegan.png"
                                     ng-show="offering.vegan">
                                <img class="nutritionIcon" title="gluten-free" id="glutenfreeIcon"
                                     src="../../../assets/img/glutenfree.png"
                                     ng-show="offering.glutenfree">
                                <img class="nutritionIcon" title="lactose-free" id="lactosefreeIcon"
                                     src="../../../assets/img/lactosefree.png" ng-show="offering.lactosefree">
                            </div>

                            <!--<div id="buttonContainer">
                                <a href="/" class="orderLink">
                                    <button class="col-xs-4 btn-success y_n orderButton"
                                            value={{offering.takeAway}}>
                                        Take Away!
                                    </button>
                                </a>
                            </div>

                            <div id="eatHereButtonContainer">
                                <a href="/" class="orderLink">
                                    <button class="col-xs-4 btn-success y_n orderButton"
                                            value="{{offering.onSite}}">
                                        Eat here!
                                    </button>
                                </a>
                            </div> -->

                        </div>

                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>

<style>

    .filterheader {
        padding-top: 1%;
        width: 60%;
        margin-left: 25%;
        display: flex;
    }

    .locationlabel {
        line-height: 40px;
        vertical-align: middle;
        width: 40%;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        border-color: darkgray;
        color: darkgray;
        padding-left: 2%;
    }

    .filterdropdowncontainer {
        margin-left: 42%;
        width: 18%;
    }

    .filterdropdown {
        border-color: darkgray;
        color: darkgray;
    }

    ul {
        list-style: none;
        padding-left: 25%;
        padding-right: 15%;
    }

    #offeringContainer {
        height: 140px;
        width: 100%;
        border-radius: 20px;
        border-style: solid;
        border-color: #408040;
        border-width: 2px;
        margin-top: 1%;
        position: relative;
    }

    #offeringImage {
        margin-top: 20px;
        margin-left: 20px;
        width: 80px;
        height: 80px;
        border-radius: 60px;
    }

    #leftOfferingContainer {
        display: flex;
        position: absolute;
        top: 10%;
        width: 100%;
    }

    #middleOfferingContainer {
        display: flex;
        vertical-align: middle;
        position: absolute;
        top: 30%;
        width: 100%;
        margin-top: 1%;
    }

    #rightOfferingContainer {
        display: flex;
        vertical-align: middle;
        position: absolute;
        top: 55%;
        width: 100%;
    }

    #namelabel {
        margin-left: 15%;
        width: 35%;
        font-size: x-large;
        color: dimgray;
        white-space: nowrap;
    }

    #pricelabel {
        margin-left: 37%;
        color: dimgray;
        font-size: x-large;
    }

    #cheflabel {
        margin-left: 15%;
        width: 20%;
        font-size: medium;
        color: dimgray;
        line-height: 35px;
    }

    #stars {
        margin-left: 3%;
        font-size: x-large;
        margin-bottom: 2px;
    }

    #buttonContainer {
        margin-left: 65%;
        font-size: x-large;
        margin-bottom: 2px;
        height: 32px;
    }

    .orderLink {
        width: 20%;
        height: 100%
    }

    .orderButton {
        background-color: #408040;
        width: 100%;
        height: 100%;
        border-color: #499349;
        font-size: medium;
    }

    #eatHereButtonContainer {
        margin-left: 2%;
        font-size: x-large;
        height: 32px;
    }

    .marginLeft{
        margin-left: 60%;
    }

</style>

