<link rel="stylesheet" href="app/components/home/home-styles.css">

<div ng-include src="'app/components/header/header2.html'"></div>

<div class="row pageparent" ng_controller="homeController as app">
    <div class="col-sm-3">
    </div>

    <div class="col-sm-6">
        <div id="sloganbackground">
            <div class="teaserText"><span>
                Share a meal, make a deal!
                </span>
            </div>
        </div>

        <div class="formbackground">
            <div class="row">
                <div class="col-sm-8 searchContainer">
                    <input class="postalCodeInput" type="number" ng-model="app.postalCode"
                           placeholder="Postal Code "/>
                </div>

                <a href="/#/showOfferings" class="buttonLink">

                    <div class="col-sm-4 searchDiv" class=searchOfferingsDiv">

                        <button class="greenButton" ng-click="app.searchOfferings(app.postalCode)">
                            Search Offerings
                        </button>
                    </div>
                </a>
            </div>

            <div class="row row-margin">
                <nav>
                    <a class="buttonLink">
                        <button class="greenButton" ng-click="checkIfRedirectToLogin()" id="createOfferingBtn">Create Offering
                        </button>
                    </a>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-sm-3">

    </div>
    <div id="bottomfilter"></div>
</div>
<div id="explanationsection">
    <div id="bottomline">

    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-10">
        <div id="tutorialheader">
            <span>
            How it works
                </span>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="tutorialheading"><span>Order at Mealtime
                </span>
                </div>
                <div class="explanationcircle">
                    <div class="stepnumber">
                        1
                    </div>
                    <img src="../../../assets/img/hungry.jpg" class="tutorialicon">
                </div>
                <div class="tutorialheading tutorialsubtitle"><span>Hungry?
                </span>
                </div>

                <div class="explanationcircle">
                    <div class="stepnumber">
                        2
                    </div>
                    <img src="../../../assets/img/mealtime_logo.png" class="tutorialicon">
                </div>

                <div class="tutorialheading tutorialsubtitle"><span>Search Mealtime offerings!
                </span>
                </div>

                <div class="explanationcircle">
                    <div class="stepnumber">
                        3
                    </div>
                    <img src="../../../assets/img/eating.png" class="tutorialicon">
                </div>
                <div class="tutorialheading tutorialsubtitle"><span>Have a delicious meal!
                </span>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="tutorialheading"><span>Become a seller
                </span>
                </div>
                <div class="explanationcircle">
                    <div class="stepnumber">
                        1
                    </div>
                    <img src="../../../assets/img/chef.png" class="tutorialicon">
                </div>
                <div class="tutorialheading tutorialsubtitle"><span>Cook a tasty meal!
                </span>
                </div>

                <div class="explanationcircle">
                    <div class="stepnumber">
                        2
                    </div>
                    <img src="../../../assets/img/mealtime_logo.png" class="tutorialicon">
                </div>
                <div class="tutorialheading tutorialsubtitle"><span>Create an Mealtime offering!
                </span>
                </div>

                <div class="explanationcircle">
                    <div class="stepnumber">
                        3
                    </div>
                    <img src="../../../assets/img/money.jpg" class="tutorialicon">
                </div>
                <div class="tutorialheading tutorialsubtitle"><span>Earn money!
                </span>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-1">
    </div>

</div>

