<link rel="stylesheet" href="app/components/meal-detail/meal-detail-styles.css">

<div ng_controller="MealDetailController as mealCon">

    <div ng-include src="'app/components/header/header.html'"></div>


    <div id="pagecontainer" class="row">
        <div id="topline">
            <div id="toplinetext">{{mealCon.meal.name}} by {{mealCon.meal.chef}}</div>
        </div>

        <!-- left part of the Page with image-upload -->
        <div class="col-sm-4">
            <div class="pictureuploadfield">
            </div>

            <a href="#/order/{{mealCon.meal._id}}">
                <button class="btn-success orderButton">Order Meal!
                </button>
                <br>
            </a>

        </div>

        <!-- centerpart/formpart of the page -->
        <div class="col-sm-6 form-background">
            <div class="oleo-green" id="nameField">{{mealCon.meal.name}}</div>
            <div class="oleo-green" id="chefField">by {{mealCon.meal.chef}}</div>

            <div class="row factcontainer">
                <div class="verticalLine">
                    <div class="col-sm-4 oleo-green mediumText smallMargin">About the Meal:</div>
                    <div class="col-sm-8 oleo-green mediumText smallMargin">{{mealCon.meal.name}}</div>
                </div>
            </div>

            <div class="row factcontainer">
                <div class="verticalLine">
                    <div class="col-sm-4 oleo-green mediumText smallMargin">Price:</div>
                    <div class="col-sm-8 oleo-green mediumText smallMargin">{{mealCon.meal.price}}€</div>
                </div>
            </div>

            <div class="row factcontainer">
                <div class="verticalLine">
                    <div class="col-sm-4 oleo-green mediumText smallMargin">Servings Available:</div>
                    <div class="col-sm-8 oleo-green mediumText smallMargin">{{mealCon.meal.count}}</div>
                </div>
            </div>

            <div class="row factcontainer">
                <div class="verticalLine">
                    <div class="col-sm-12 oleo-green mediumText smallMargin">Nutritional Information</div>
                    <div class="col-sm-12 smallMargin">
                        <img class="nutritionIcon" title="vegetarian" id="vegetarianIcon"
                             src="../../../assets/img/vegetarian.png" ng-show="mealCon.meal.vegetarian">
                        <img class="nutritionIcon" title="vegan" id="veganIcon" src="../../../assets/img/vegan.png"
                             ng-show="mealCon.meal.vegan">
                        <img class="nutritionIcon" title="gluten-free" id="glutenfreeIcon"
                             src="../../../assets/img/glutenfree.png" ng-show="mealCon.meal.glutenfree">
                        <img class="nutritionIcon" title="lactose-free" id="lactosefreeIcon"
                             src="../../../assets/img/lactosefree.png" ng-show="mealCon.meal.lactosefree">
                    </div>
                </div>
            </div>

            <!-- <div class="row factcontainer">
                <div class="verticalLine">
                    <div class="col-sm-12 oleo-green mediumText smallMargin" id="locationField">Location:
                        {{mealCon.meal.address}}
                    </div>
                    <div id="googleMap"></div>
                </div>
            </div> -->
        </div>
    </div>
</div>
