<div class="row" style="margin-top: 15%">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-8" style="padding:0; padding-right: 1%; height:45px">
                <input type="number" ng-model="app.postalCode" style="width:100%; height:100%; font-size: larger"
                       placeholder="Postal Code "/>
            </div>
            <div class="col-sm-4" style="padding:0; height:45px">
                <button class="btn-success" ng-click="app.searchOfferings(app.postalCode)" style="width:100%;
                height:100%; background-color: #408040; border-color: #499349; font-size: larger">
                    Search Offerings
                </button>
            </div>
        </div>
        <div class="row" style="margin-top: 1%; height: 45px">
            <nav>
                <a href="/createOffering" style="width: 100%; height: 100%">
                    <button class="btn-success" style="width:100%; height:100%; background-color: #408040;
                border-color: #499349; font-size: larger">Create Offering
                    </button>
                </a>
            </nav>
        </div>
    </div>
    <div class="col-sm-4">

    </div>
</div>